* {
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 9fr;
}

.header {
  border-bottom: 1px solid black;
}

.main {
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
}

.game {
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: grid;
  grid-template-rows: 8fr 2fr;
}

.gameBoard {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  height: 80%;
  aspect-ratio: 1/1;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.row0,
.row1,
.row2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.row1 {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.column1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.column0,
.column1,
.column2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameControls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newWinnerPopup {
  position: relative;
  text-align: center;
  width: 100%;
}

.winnerPopup {
  display: none;
  position: fixed;
  left: 50%;
  top: 42%;
  transform: translate(-50%, 5%);
  border: 3px solid #999999;
  z-index: 9;
}

.winnerPara {
  max-width: 300px;
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 5px;
}